<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Greatest Books of All Time</title>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background-color: #ddd;
        margin: 20px;
        display: inline-block;
      }

    </style>
    <script
      src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"
      defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <!-- https://thegreatestbooks.org/ -->

    <div id="app">
      <h1>The Greatest Books of All Time</h1>

      <div>
        <button @click="toggleShowBooks()">
          <span v-if="showBooks">Hide Books</span>
          <span v-else>Show Books</span>
        </button>
      </div>

      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <img :src="book.imageUrl" :alt="book.title">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p>{{ book.year }}</p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
